[Unit]
Description=Run ubopt textfile exporter every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
